@import "../bower_components/pi-sass/src/variables";
$pi-nav-bg: #fff;

@import "../bower_components/pi-sass/src/boot";
@import "variables";
@import "panel";
@import "text-angular";

/*
 * Card Sets
 */
.card-set__wrapper {
  @include clearfix();
}

.card-set {

  @include span(1 of 6);

  &:nth-child(6) {
    @include span(1 of 6 last);
  }
}

.card-set > p {

}


.card-set__img {
  position: relative;
  > img {
    width: 100%;
  }
}
.card-set--hover > .card-set__img >.card-set__img-hover {
  display: block;
}
.card-set__img-hover {
  display: none;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0; left: 0; right: 0;
}

ul.card-set__list {
  li > {
    list-style: none
  }
}
.card-set__list {
  border: solid 1px #f0f0f0;
  @include clearfix();
  > li > a, > a {
    display: block
  }
}

.card-set__list > li, .card-set__list-item {
  padding: 5px;

}

.card-set__list-avatar {
  @include span(1 of 6);
  > img {
    @include border-radius(50%);
    width: 100%;
  }
}
.card-set__content {
  @include span(5 of 6 last);
}
.card-set__author {
  background-color: $color-gray;
  color: $color-gray-dark;
  @include clearfix();
}
.card-set__author-avatar {
  @include span(1 of 7);
  > img {
    @include border-radius(50%);
  }
}
.card-set__author-likes {
  @include span(6 of 7 last);
  text-align: right;
}

/*
 * Profile Edit
 */
.profile-edit__wrapper {
  @include container();
}

.profile-edit__side {
  @include breakpoint($breakpoint-site) {
    @include span(1 of 4);
  }
}
.profile-edit__content {
  @include breakpoint($breakpoint-site) {
    @include span(3 of 4 last);
  }
}
